.movie-row-container {
    padding: 0px 20px;
     
  }
  
  .movie-row-container h2 {
    margin-bottom: 10px;
    margin-left: 15px;
    color: rgb(14, 13, 13);
    font-family: sans-serif;
    font-weight: 600;
  }
   
  .movie-row {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    
  }
  
  .movie-row::-webkit-scrollbar {
    display: none;
  }
  
  
  
  
  
  

  

  
  
