.search-bar input[type="text"] {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  width: 400px;
  margin-right: 0px;
}

.search-bar button {
  padding: 10px 26px;
  width: 20vw;
  border: none;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 20%,
    rgb(68, 133, 145) 100%
  );
  color: white;
  font-size: 16px;
  cursor: pointer;
    position: absolute;
    left: 600px;
}

.search-bar button:hover {
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgb(68, 133, 145) 95%
  );
}

.search-bar button:active {
    background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgb(68, 133, 145) 120%
  );
  width: 19.8vw ;
}
